<div class="receipt-summary d-flex align-items-center px-3">
    <div class="contain justify-content-between w-100">
        <div class="summary-details px-2 py-2">
            <h5 class="mb-3">ملخص الفاتورة</h5>
            <div class="d-flex justify-content-between mb-1">
                <div class="title">
                    إجمالي السعر :
                </div>
                <div class="price">
                    $ 500
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="title">
                    الخصم :
                </div>
                <div class="price">
                    $ 100
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="title">
                    القيمة المضافة :
                </div>
                <div class="price">
                    % 14
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="title">
                    الضريبة :
                </div>
                <div class="price">
                    $ 50
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="title-bold">
                    السعر النهائي ( US ) :
                </div>
                <div class="price-bold">
                    $ 465
                </div>
            </div>
        </div>
        <div class="receipt-image">
    
        </div>
    </div>
</div>
