
<div class="product_info px-3 py-3">
    <h4>تفاصيل المنتجات</h4>
    <!-- Table for Product Details -->
    <div class="table-responsive">
      <table class="table text-end my-table">
        <!-- Table Header -->
          <thead class="text-end">
            <tr class="table-secondary">
              <th scope="col">اسم المنتج</th>
              <th class="text-start" scope="col">سعر المنتج</th>
              <th class="text-center" scope="col">الكمية</th>
              <th class="text-center">الخصم</th>
              <th class="text-center">السعر الكلي</th>
            </tr>
          </thead>
  
  
        <!-- Table Body -->
          <tbody>
            <tr>
              <th scope="row">
                  <div class="d-flex">
                      <div><img src="../../../assets/images/tablet.png" class="ms-2" alt="" srcset=""></div>
                      <div class="text-end">
                          <div class="p_name">لابتوب ديل 128 جيجا SSD</div>
                          <div class="d-flex">
                              <div class="p_id">ID - 587349</div>
                              <div class="p_tax"><i class="fa-solid fa-circle-minus"></i> ضريبة 14%</div>
                          </div>
                      </div>
                  </div>
              </th>
              <td class="bold text-start">$ 200</td>
              <td class="bold text-center">3</td>
              <td class="bold text-center">%14</td>
              <td class="bold text-center">$600</td>
            </tr>
            <tr>
              <th scope="row">
                  <div class="d-flex">
                      <div><img src="../../../assets/images/tablet.png" class="ms-2" alt="" srcset=""></div>
                      <div class="text-end">
                          <div class="p_name">لابتوب ديل 128 جيجا SSD</div>
                          <div class="d-flex">
                              <div class="p_id">ID - 587349</div>
                              <div class="p_tax"><i class="fa-solid fa-circle-minus"></i> ضريبة 14%</div>
                          </div>
                      </div>
                  </div>
              </th>
              <td class="bold text-start">$ 200</td>
              <td class="bold text-center">3</td>
              <td class="bold text-center">%14</td>
              <td class="bold text-center">$900</td>
            </tr>
            <tr>
              <th scope="row">
                  <div class="d-flex">
                      <div><img src="../../../assets/images/tablet.png" class="ms-2" alt="" srcset=""></div>
                      <div class="text-end">
                          <div class="p_name">لابتوب ديل 128 جيجا SSD</div>
                          <div class="d-flex">
                              <div class="p_id">ID - 587349</div>
                              <div class="p_tax"><i class="fa-solid fa-circle-minus"></i> ضريبة 14%</div>
                          </div>
                      </div>
                  </div>
              </th>
              <td class="bold text-start">$ 200</td>
              <td class="bold text-center">3</td>
              <td class="bold text-center">%2.5</td>
              <td class="bold text-center">$15000</td>
            </tr>
          </tbody>
        </table>
    </div>
    <!-- Table for Product Details -->

</div>
