/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');

*{
    direction: rtl;
    
}
body{
    background-color: #1C1C2833;
    font-family: 'Neo Sans Arabic', sans-serif;
}
.table-secondary{
    background-color: #F8F8F9 !important;
}
.bold{
    font-weight: 500;
}

.table thead th {
    background-color: #F8F8F9; /* Change this to the color you want */
}